@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic);



h4 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	opacity: 0.7;
}

.click {
	font-size: 30px;
	color: rgb(255, 255, 255);
	width: 38px;
	height: 38px;
	margin: 0 auto;
    margin-left: 15px;
	margin-top: -12px;
	position: relative;
	cursor: pointer;
}


.click span {
	margin-left: 9px;
	margin-top: -2px;
	z-index: 999;
	position: absolute;
}

span:hover {
	opacity: 0.8;
}

span:active {
	transform: scale(0.93,0.93) translateY(2px)
}

.ring, .ring2 {
	opacity: 0;
	background: grey;
	width: 1px;
	height: 1px;
	position: absolute;
	top: 19px;
	left: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.active span, .active-2 span {
	color: #ffffff !important;
}

.active-2 .ring {
	width: 48px !important;
	height: 48px !important;
	top: -4px !important;
	left: -6px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.active-2 .ring {
	background: #f52755 !important;
}

.active-2 .ring2 {
	background: #f22525 !important;
}

.active-3 .ring2 {
	width: 50px !important;
	height: 50px !important;
	top: -5px !important;
	left: -7px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.info {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
	color: rgb(255, 255, 255);
	position: relative;
	top: 60px;
	left: -46px;
	opacity: 0;
	transition: all 1s ease;
}

.info-tog {
	color: #ffffff;
	position: relative;
	top: 52px;
	opacity: 1;
}

* {
	transition: all 0.7s ease;
}
