@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500&family=Lora:wght@400;500&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar{
  display: none;
} 

:root {
  --text-clr: #4a5c6c;
  --bg-clr: #f2f4fc;
  --border-clr: rgb(156, 176, 193);
}

html {
    font-size: 62.5%;
  }
  
  body {
    background-color: var(--bg-clr);
  }

  .loading {
    font-size: 3.2rem;
    color: white;
    text-align: center;
  }